.category_container {
    display: flex; 
    flex-wrap: wrap; 
    list-style: none;
    /* row-gap: 10px;
    gap: 10px; */
  }
  
.category_container div {
    border: 2px solid gray;
    width: 300px;
    height: 300px;
    margin: 15px;
    row-gap: 10px;
    /* text-align: center; */
    /* line-height: 75px; */
    gap: 10px;
    /* font-size: 30px; */
  }



.category_categoryHeader{
    width: 100%;
    height: 100px;
    background-color: rgb(222, 222, 231);
    /* text-align: center;  */
    display:table;
}

.category_categoryHeaderText{
    font-size: 45px;
    display:table-cell; 
    vertical-align:middle;
}

.category_card {
    /* max-width: 100%;
    max-height: 100%; */
    width: 300px;
    height: 350px;
    background-color: rgb(222, 222, 231);
    text-align: left;
    row-gap: 10px;
    gap: 10px;
  }
  

  .category_profP {
    height: 70px;
    width: 70px;
    background-color:rgb(234, 234, 244);
    border: 1px solid gray;
    border-radius: 140%;
    margin-left: 220px;
    margin-top: -100px;
    position: absolute;
    z-index: 1;
}

.category_logop {
    max-width: 100%;
    max-height: 100%;
    border-color: none;
}


.category_price {
    color: black;
    margin: 0;
    padding: 0;
    text-align: left;
  } 


.category_name{
    color: black;
    margin: 0;
    padding: 0;
    text-align: left;
    width: 220px;
  }

.category_text{
    margin: 0;
    padding: 0;
    text-align: left;
  }




  /* .card button:hover {
  opacity: 0.7;
} */