.searchArtwork__Container,.displayArtworks__Container{
    width: var(--container-width-lg);
}
.searchArtwork__Container{
    display: grid;
    grid-template-columns: 10% 80%;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 0;
}
.searchArtwork__Container .searchArtworkTextField, .categoryBack_button{
    border: 2px solid black;
    border-radius: 3rem;
    padding: 1rem;
    transition: 1s ease all;
    color: black;
    text-decoration: none;
    width: auto;
}
.categoryBack_button:hover{
    color: white;
    background-color: rgb(120, 120, 120);
    border: 2px solid rgb(120, 120, 120);
    cursor: pointer;
}
.categoryBack_button-Primary{
    color: white;
    background-color: rgb(20, 20, 20);
    text-transform: capitalize;
}
.searchArtwork__Container .searchArtworkTextField:focus{
    box-shadow: 0rem 0rem 1.5rem rgb(87, 87, 87);
}
.displayArtworks__Container{
    padding-bottom: 10rem;
}
.categoryComponent .catTitle{
    text-transform: capitalize;
}
.my-masonry-grid {
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
}
.my-masonry-grid_column {
    padding-left: 30px; /* gutter size */
    background-clip: padding-box;
    padding-top: 2rem;
}
.my-masonry-grid_column > .cat_artworkCard{
    width: 100%;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    text-align: center;
    align-items: center;
    box-shadow: 0rem 0rem 1rem rgb(87, 87, 87);
}
.my-masonry-grid_column > .cat_artworkCard .cat_artworkPhoto{ 
    width: 100%;
}
.my-masonry-grid_column > .cat_artworkCard .cat_artworkInfo{ 
    width: 100%;
    height: max-content;
}
.my-masonry-grid_column > .cat_artworkCard a{ 
    text-decoration: none;
    color: black;
}
.my-masonry-grid_column > .cat_artworkCard img{ 
    width: 100%;
}
.displayArtworks__Container .categoryComponent .popup_productName h4{
    padding-left: 1rem;
    padding-right: 1rem;
    flex:120px;
    font-weight: 500;

}
/* FOR TABLETS */
@media screen and (max-width: 1024px){
    .searchArtwork__Container, .displayArtworks__Container{
        width: var(--container-width-md);
    }
    .searchArtwork__Container{
        grid-template-columns: 15% 75%;
        gap: 1.5rem;
        padding-top: 3rem;
    }
}
/* FOR PHONES */
@media screen and (max-width: 600px){
    .searchArtwork__Container, .displayArtworks__Container{
        width: var(--container-width-sm);
    }
    .searchArtwork__Container{
        grid-template-columns: 20% 70%;
        gap: 1rem;
        padding-top: 1rem;
    }
    .displayArtworks__Container .categoryComponent .popup_productName{
        top: 2rem;
    }
}