.RA_heading{
    text-align: center;
    padding: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    overflow-wrap: break-word;
}
.RisingArtists_container {
    width: var(--container-width-lg);
    padding-bottom: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.RA_artistCard{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 80%;
    background: rgb(227, 227, 227);
    overflow: hidden;
    align-self: center;
    justify-self: center;
    border-radius: 3rem;
    box-shadow: 0rem 0rem 1rem rgb(87, 87, 87);
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}
.RA_artistCard .RA_artistProfileCard{
    height: 90%;
    width: 100%;
    overflow: hidden;
    background: rgb(227, 227, 227);
    display: flex;
    flex-direction: column;
}
.RA_artistCard .RA_artistProfileCard .RA_artistName{
    height: 20%;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    pointer-events: none;
}
.RA_artistCard .RA_artistProfileCard .RA_artistName img{
    height: 4rem;
    width: 4rem;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 0rem 0rem 1rem rgb(87, 87, 87);
}
.RA_artistCard .RA_artistProfileCard .RA_artistProductName h3{
    font-weight: 600;
    font-size: medium;
    text-align: start;
    font-style: italic;
    padding-left: 1.5rem;
    margin-top: 0.5rem;
}
.RA_artistCard .RA_artistProfileCard .RA_artistDP{
    height: 70%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.RA_artistCard .RA_artistProfileCard .RA_artistDP img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.RA_artistCard .RA_artistActions{
    justify-content: center;
    height: 10%;
}
.RA_artistCard .RA_artistActions button{
    height: 80%;
    border-radius: 3rem;
    border: none;
    width: 80%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    transition: 1s ease all;
    font-weight: 600;
    box-shadow: 0rem 0rem 0.5rem rgb(87, 87, 87);
    background: linear-gradient(90deg, rgb(180, 29, 255) 0%, rgb(133, 12, 255) 50%, rgb(66, 129, 255) 100%);
    color: white;
    text-transform: uppercase;
}
.RA_artistCard .RA_artistActions button:hover{
    cursor: pointer;
}

/* FOR TABLETS */
@media screen and (max-width: 1024px){
    .RisingArtists_container{
        width: var(--container-width-md);
        gap: 0.5rem;
    }
    .RA_artistCard{
        width: 90%;
    }
}
/* FOR PHONES */
@media screen and (max-width: 600px){
    .RisingArtists_container{
        width: var(--container-width-sm);
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .RA_artistCard{
        display: flex;
        flex-direction: column;
        height: 60vh;
        width: 100%;
        overflow: hidden;
        align-self: center;
        justify-self: center;
        border-radius: 3rem;
        box-shadow: 0rem 0rem 1rem rgb(87, 87, 87);
    }
}