.title{
    color: black;
    font-family: helvetica;
    font-weight: bold;
    text-align: center;
    padding-top: 7rem;
}

.buttonSet {
    padding-top: 15rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}


.button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

.aboutUs {
    color: gray;
    text-align: center;
    font-size: 12px;
    font-family: Helvetica;
    font-weight: bold;
    padding-top: 6rem;
}

.aboutUs:hover {
    color: blue;
}