.NUback{
    width: max-content;
    display: block;
    position: fixed;
    left: 10%;
    transform:translateX(-60%);
    top: 4rem;
    border-radius: 3rem;
}
.backButton{
    border: 2px solid black;
    color: white;
    background-color: rgb(20, 20, 20);
    border-radius: 1rem;
    padding: 1rem;
    transition: 1s ease all;
    text-decoration: none;
    font-weight: 500;
}
.backButton:hover{
    color: white;
    background-color: rgb(120, 120, 120);
    border: 2px solid rgb(120, 120, 120);
}

/* FOR TABLETS */
@media screen and (max-width: 1024px){
    .NUback{
        top: 3rem;
    }
}

/* FOR PHONES */
@media screen and (max-width: 600px){
    .NUback{
        top: 1.5rem;
        left: 12%;
    }
    .backButton{
        padding: 0.5rem;
    }
}