.profileplace{
    font-size: 3vw;
    color: black;
}

.profilebodyset{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}