
.PerformanceMSG a{
    text-decoration: none;
    color: white;
}
.PerformanceMSG a .PerformanceBanner{
    background-color: black;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: 1s ease all;
}
.PerformanceMSG a .PerformanceBanner:hover{
    background-color: rgb(120, 120, 120);
}
.welcomeMsg{
    padding: 1rem;
    background-color: black;
    color: white;
    text-align: center;
    text-transform: capitalize;
}
.ArtistCategoryDisplay_container{
    padding-bottom: 10rem;
    padding-top: 2rem !important;
    user-select: none;
    width: var(--container-width-lg);
}
.categoryRow{
    text-align: start;
    padding-top: 2rem;
}
.categoryRow .categoryName{
    text-transform: capitalize;
}
.categoryRow .categoryProductImages .carousel .product_Card{
    height: 25vh;
    min-width: 25%;
    max-width: 25%;
    border-radius: 3rem;
    overflow: hidden;
    margin: 1rem;
    box-shadow: 0rem 0rem 1rem rgb(87, 87, 87);
    background: white;
    display: flex;
    flex-direction: column;
}
.categoryRow .categoryProductImages .carousel .product_Card .product_image_Display{
    height: 80%;
    width: 100%;
}
.categoryRow .categoryProductImages .carousel .product_Card .product_info_Display{
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent , rgb(50, 50, 50) 60%);
    text-align: center;
    justify-content: end;
}
.categoryRow .categoryProductImages .carousel .product_Card .product_info_Display h4{
    font-weight: 300;
}
.categoryRow .categoryProductImages .carousel .product_Card a{
    height: 21%;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    z-index: 3;
}
.categoryRow .categoryProductImages .carousel .product_Card img{
    width: 100%;
    min-height: 115%;
    object-fit: cover;
    pointer-events: none;
    overflow: hidden;
}
.categoryRow .categoryProductImages .carousel .inner-carousel{
    display: flex;
    background: rgb(230, 230, 230);
}
.categoryRow .categoryProductImages .carousel{
    cursor: grab;
    overflow-x: hidden;
    background: rgb(230, 230, 230);
    border-radius: 3rem;
}
.category_button{
    background: linear-gradient(45deg, rgb(176, 176, 176) 0%, rgb(74, 74, 74) 20%, black 50%, rgb(74, 74, 74) 80%, rgb(176, 176, 176) 100%);
    border: 2px solid rgb(120, 120, 120);
    box-shadow: 0rem 0rem 1rem rgb(87, 87, 87);
    border-radius: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 1s ease all;
    width: fit-content;
}
.category_button a{
    color: white;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight: 600;
}
.category_button:hover{
    background-color: rgb(120, 120, 120);
    border: 2px solid white;
    cursor: pointer;
}
/* FOR TABLETS */
@media screen and (max-width: 1024px){
    .searchBar__container, .CategoryDisplay__container{
        width: var(--container-width-md);
    }
    .categoryRow .categoryProductImages .carousel .product_Card{
        height: 30vh;
        min-width: 40%;
        max-width: 40%;
    }
    .category_button, .category_button a{
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
}
/* FOR PHONES */
@media screen and (max-width: 600px){
    .searchBar__container, .CategoryDisplay__container{
        width: var(--container-width-sm) ;
    }
    .searchBar__container{
        padding-top: 4rem;
    }
    .categoryRow .categoryProductImages .carousel .product_Card{
        height: 30vh;
        min-width: 50%;
        max-width: 50%;
    }
    .categoryRow .categoryProductImages .carousel .product_Card .product_info_Display{
        margin-top: -2.5%;
    }
    .category_button, .category_button a{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}