.searchBar__container{
    width: var(--container-width-lg);
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.searchBar_bg{
    background-color: black;
}
.searchBar__container .searchBarTextField{
    border: 1px solid black;
    border-radius: 3rem;
    padding: 1rem;
    transition: 1s ease all;
    color: black;
    text-decoration: none;
    width: auto;
}
.searchBar__container .searchBarTextField:focus{
    box-shadow: 0rem 0rem 1.5rem white;
    border: 1px solid white;
}
.TopPicks a{
    text-decoration: none;
    color: white;
}
.TopPicks a .TopPicksBanner{
    background-color: black;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: 1s ease all;
}
.TopPicks a .TopPicksBanner:hover{
    background-color: rgb(120, 120, 120);
}
.CategoryDisplay__container{
    padding-bottom: 10rem;
    user-select: none;
    width: var(--container-width-lg);
}
.categoryRow{
    text-align: start;
}
.categoryRow .categoryName{
    text-transform: capitalize;
}
.categoryRow .categoryProductImages .carousel .product_Card{
    height: 25vh;
    min-width: 25%;
    border-radius: 3rem;
    overflow: hidden;
    margin: 1rem;
    box-shadow: 0rem 0rem 1rem rgb(87, 87, 87);
    background: white;
    display: flex;
    flex-direction: column;
}
.categoryRow .categoryProductImages .carousel .product_Card .product_image_Display{
    height: 80%;
    width: 100%;
}
.categoryRow .categoryProductImages .carousel .product_Card .product_info_Display{
    width: 100%;
    text-align: center;
}
.categoryRow .categoryProductImages .carousel .product_Card a{
    text-decoration: none;
    color: rgb(39, 39, 39);
}
.categoryRow .categoryProductImages .carousel .product_Card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    overflow: hidden;
}
.categoryRow .categoryProductImages .carousel .inner-carousel{
    display: flex;
    background: rgb(230, 230, 230);
}
.categoryRow .categoryProductImages .carousel{
    cursor: grab;
    overflow-x: hidden;
    background: rgb(230, 230, 230);
    border-radius: 3rem;
}
.category_button{
    border: 2px solid black;
    background-color: black;
    border-radius: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 1s ease all;
    width: fit-content;
}
.category_button a{
    color: white;
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight: 500;
}
.category_button:hover{
    background-color: rgb(120, 120, 120);
    border: 2px solid rgb(120, 120, 120);
    cursor: pointer;
}
/* FOR TABLETS */
@media screen and (max-width: 1024px){
    .searchBar__container, .CategoryDisplay__container{
        width: var(--container-width-md);
    }
    .categoryRow .categoryProductImages .carousel .product_Card{
        height: 30vh;
        min-width: 50%;
    }
    .category_button, .category_button a{
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
}
/* FOR PHONES */
@media screen and (max-width: 600px){
    .searchBar__container, .CategoryDisplay__container{
        width: var(--container-width-sm);
    }
    .searchBar__container{
        padding-top: 4rem;
    }
    .categoryRow .categoryProductImages .carousel .product_Card{
        height: 30vh;
        min-width: 90%;
    }
    .categoryRow .categoryProductImages .carousel .product_Card .product_info_Display{
        margin-top: -2.5%;
    }
    .category_button, .category_button a{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}